html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-primary {
    color: #f7f7ff;
}

.text-light {
    color: #f7f7ff;
}

.text-dark {
    color: #000000;
}

.bg-dark {
    color: #272727;
}

.bg.primary {
    color: #eb5e55;
}

.bg.secondary {
    color: #7a918d;
}

.flex-container {
    display: flex;
    flex-direction: row;
}